name: lesion_detector_env
channels: 
  - defaults
  - conda-forge
  - pytorch
dependencies:
  - python=3.12.0

  # Core packages
  - numpy=1.26.4
  - matplotlib=3.9.3
  - pandas=2.2.3

  # Jupyter Notebooks
  - jupyter=1.1.1

  # Addtitional packages
  - pyyaml=6.0.2
  - types-PyYAML=6.0.12
  - opencv=4.10.0

  # GPU support
  # - cudatoolkit=11.8.0
  # - cudnn=9.3.0.75

  # PyTorch & Torchvision
  - pytorch=2.5.1
  - torchvision=0.20.1
  - torchmetrics=1.8.2
  - pycocotools=2.0.10

  # Gymnasium & Tensorboard
  - gymnasium=1.0.0
  - tensorboard=2.19.0

  # Transformers
  - transformers=4.57.1
  - timm=1.0.21

  # Include pip for pip-only packages 
  - pip

  # pip packages
  - pip:
    - git+https://github.com/DLR-RM/stable-baselines3.git@master
    - git+https://github.com/Stable-Baselines-Team/stable-baselines3-contrib.git@master # TODO - may be not needed
    - pre-commit==4.0.1
    - black==24.10.0
    - flake8==7.1.1
    - isort==5.13.2
    - mypy==1.13.0
    - pytest==8.3.4
    - gdown==5.2.1
